





.create-beer-input-lg > select{
    border: none;
}

.create-beer-input-lg:focus-within{
    border: #0D1F2D 2px solid;
}

.create-beer-input-lg > input{
   border: none;
   width: 95%;
   height: 95%;
   margin: 0 5px;
}
.create-beer-input-lg > select{
   border: none;
   width: 99%;
   height: 95%;
   margin: 0 5px;
}



.create-beer-input-sm{
    width: 87px;
}

.create-beer-input-sm:focus-within{
    border: #0D1F2D 2px solid;
}


.create-beer-input-sm > input{
    border: none;
    width: 90%;
    height: 95%;
    margin: 0 5px;
}

.create-beer-select{
    width: 232px;
    height: 32px;
    border: 2px lightgray solid;
    border-radius: 3px;
}
.create-beer-select:focus-within{
    border: #0D1F2D 2px solid;

}

.create-beer-select > select{
    border: none;
    width: 99%;
    height: 95%;
}

.create-beer-description{
    width: 436px;
    height: 100px;
    border: 2px solid lightgray;
    border-radius: 3px;
    position: relative;
}

.create-beer-description:focus-within{
    border: #0D1F2D 2px solid;
}

.create-beer-description > textarea{
    border: none;
    width:95%;
    height: 95%;
    resize: none;
    margin: 5px
}





.brewery > .form-label{
    margin: 0 ;
}
.create-beer-submit{
    width: 436px;
    height: 40px;
}

#create-beer-content{
    display: flex;
    flex-direction: column;
    width: 450px;
}
#create-beer-content h2:last-of-type{
    text-decoration: underline;
}

#create-beer-list > li{
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
}

.errors-container-create-beer{
    margin-top: 30px;
    
    background-color: #931F1D;
    width: 336px ;
    border-radius: 5px;
    padding: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px ;
}





#brewery-creation-cancel{
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #931F1D;
}