.cb-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    color: #0D1F2D;
}
.cb.input, .cb.select, .cb.textArea, .cb.dataList{
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    width: 97%;
    height: 100%;
    background-color: transparent;
    resize: none;
}

.cb.input.sm{
    width: 88%
}

.cb-form-errors{
    background-color: white;
    height: fit-content;
    padding: 20px;
}

.cb-errors-container > ul{
    list-style: none;
}

.cb-form .cb-input-container{
    padding: 10px;
}

.cb-custom-input-container{
    width: 440px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px
}
.cb-form .input-cont{
    border: 2px solid lightgray;
    border-radius: 3px;
}
.cb-form .input-cont:focus-within{
    border: 2px solid #0D1F2D;
}

.cb-input-lg{
    width: 436px;
}
.cb-input-sm{
    width: 87px;
}

.form-label{
    font-size: 12px;
    color: #757575;
    padding: 5px
}

.cb-textArea{
    width: 436px;
    height: 100px;
    position: relative;
}

.counter{
    bottom:0;
    right: 0;
    position: absolute;
    color: #0D1F2D;
    font-size: 12px;
    padding: 3px;
    background-color: #EAFDF8;
    margin: 2px;
}

.bc-cancel{
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #931F1D;
}
.brewery .cb-input-container:last-child{
    padding: 0 10px;
}


#create-beer-content{
    display: flex;
    flex-direction: column;
    width: 450px;
}
#create-beer-content h2:last-of-type{
    text-decoration: underline;
}

#create-beer-list > li{
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
}

.cb-errors-container{
    margin: 10px;
    background-color: #931F1D;
    width: 408px ;
    border-radius: 3px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.brewery-list-cont{
    position: absolute;
    background-color: rgb(250, 250, 250);
    overflow-y: scroll;
    max-height: 100px;
}

.brewery-list > li{
    padding: 10px;
    font-size: 16px;
    border-bottom:lightgray 1px solid;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}
.brewery-list > li:hover{
    background-color: rgb(240, 240, 240);
}


.cb-form button{
    width: 440px;
    border-radius: 3px;
    font-size: 18px;
}