
#beer-content-container{
    background-color: white;
    width: 700px;
    height: fit-content;
}


#beer-content-top{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 20px;

}
#beer-content-top h1:first-child{
font-size: 32px;
font-weight: 400;
}



#beer-content-top-social-inner-top{
    border-right: 1px solid lightgray;

}
#beer-content-top-social-inner-top-left{
    border-bottom: 1px solid lightgray;
    padding: 0 5px 3px;

}
#beer-content-top-social-inner-bottom-left{
    border-bottom: 1px solid lightgray;
    padding: 0 5px 3px;
}

#beer-content-top-social-inner-bottom-right{
    padding: 3px 5px 0 ;
}

#beer-content-top-social-inner-top-right{
    padding: 3px 5px 0 ;
}

#beer-content-mid-details{
    display: flex;
    position: relative;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

#abv-container{
    border-right: 1px solid lightgray;
}
#ibu-container{
    border-right: 1px solid lightgray;
}

#description-container{
    padding: 10px
}