
#beer-content-container{
    background-color: white;
    width: 700px;
    height: fit-content;
    color: #88958D;

}


#beer-content-top{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 20px;

}
#beer-content-top h1:first-child{
font-size: 32px;
font-weight: 400;
margin-bottom: 5px;
color: #0D1F2D;
}
#beer-content-top p:nth-child(2){
    color: #586BA4;
    font-size: 20px;
    margin-bottom: 5px;
}
#beer-content-top p:nth-child(3){
    font-size: 16px;
    margin-bottom: 5px;
}

#beer-content-top-title{
    padding: 5px 15px;
}



#beer-content-top-social-inner-top{
    border-right: 1px solid lightgray;

}
#beer-content-top-social-inner-top-left{
    border-bottom: 1px solid lightgray;
    padding: 0 5px 3px;

}
#beer-content-top-social-inner-bottom-left{
    border-bottom: 1px solid lightgray;
    padding: 0 5px 3px;
}

#beer-content-top-social-inner-bottom-right{
    padding: 3px 5px 0 ;
}

#beer-content-top-social-inner-top-right{
    padding: 3px 5px 0 ;
}


.beer-content-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid lightgray;
    padding: 15px;

}
.beer-content-bottom-details p{
    font-size: 18px;
    line-height: 1.25em;
    width: fit-content;
    display: inline;
}

.beer-content-bottom-details-container{
    width: 74%;
}

#abv-container{
    border-right: 1px solid lightgray;
}
#ibu-container{
    border-right: 1px solid lightgray;
}

#description-container{
    padding: 10px
}

.beer-content-bottom-buttons{
    font-weight:bold;
    font-size: 36px;
    height: 52px;
    width: 52px;
    background-color: #586BA4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 5px;

}
.beer-content-bottom-buttons:hover{
    background-color: #FF8558;
    cursor: pointer;
    color: white;


}
.beer-content-bottom-buttons-container{

    display: flex;

}

.tooltip .bottom {
    min-width:fit-content; 
    top:60px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:white;
    background-color:#0D1F2D;
    font-weight:normal;
    font-size:13px;
    position:absolute;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    width: max-content;
    visibility: hidden;
    opacity: 0;
    transition:  0.8s ;
}

.tooltip {
    position:relative;
}

.tooltip:hover .bottom {
    visibility: visible;
    opacity: 1;
    transition: 0.8s ;

}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#0D1F2D;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}