.beer-img{
    height: 100px;
    width: 100px;
}
.user-img{
    object-fit: cover;
    border-radius: 50%;
}
#file-upload-hidden{
    display: none;
}

.check_in-img{
    height: 75px;
    width: 75px;
}