
.beer-show-container{
    background-color: white;
    width: 700px;
    height: fit-content;
    color: #88958D;

    margin-bottom: 20px;
}

.tooltip .bottom {
    min-width:fit-content; 
    top:60px;
    left:50%;
    transform:translate(-50%, 0);
    padding:5px;
    color:white;
    background-color:rgba(31, 61, 83, 0.8);
    font-weight:normal;
    font-size:13px;
    position:absolute;
    width: max-content;
    visibility: hidden;
    opacity: 0;
    transition:  0.8s ;
    border-radius: 3px;
}

.tooltip .bottom.ci-tips {
    top:25px;
}

.tooltip {
    position:relative;
}

.tooltip:hover .bottom {
    visibility: visible;
    opacity: 1;
    transition: 0.8s ;

}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:rgba(31, 61, 83, 0.8);
}

.ci-question{
    color: #FF8558;
}
.ci-question:hover{
    color: #009F93;
    cursor: pointer;
}