#search-bar{
    border: none;
    font-size: 16px;
}

#search-bar-container{
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    width: 200px;
    height: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-search{
    background-color: white;
}

.search-icon{
    color: #88958D;
}

.nsi-container{
    position: absolute;
    top: 36px;
    width: 220px;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.4);

}
.nsi-header{
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    padding: 10px;
}
.nsi-header > p{
    font-size: 14px;
    font-weight: 400;

}

.nsi-search-results-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.nsi-search-results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: lightgray solid 1px;
}
.nsi-search-results:first-child{
    border-top: lightgray solid 1px;
}
.nsi-search-results:last-child{
    border-bottom: none;
}
.nsi-search-results:last-child > a{
    font-size: 14px;
    font-weight: 400;
}
.nsi-search-results > a{
    font-size: 16px;
}

.search-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}