.header-container{
    background-image: url(/assets/paper-texture.png);
    background-position: contain;
    height: 60px;
    background-color: rgba($color: #586BA4, $alpha: 1);
    width: 100vw;
    z-index: 9;
    display: flex;
    justify-content: center;
}

.header-content-container{
    width: 1048px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links > a{
   text-decoration: none;
   color: white;
   font-size: 18px;
}


#brew_collective-logo-nav{
    transform: scale(.7);
   filter: invert(100%);
}

.dropdown-container { 
    position: relative;
}

.dropdown{
    position: absolute;
    left: 15px;
    top: 116px;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #0D1F2D;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

  .nav-links {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #484646;
    cursor: pointer;
    width: max-content;
    -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
  }
  .nav-links:hover {
    color: #88958D;
  }




.dropdown i {
    position:absolute;
    bottom:100%;
    left:25%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.dropdown i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#0D1F2D;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.nb-ellipsis{
    color: lightgray;
    padding: 10px;
    font-size: 22px;
}
