.header-container{
    background-image: url(/assets/paper-texture.png);
    background-position: contain;
    min-height: 52px;
    background-color: rgba($color: #586BA4, $alpha: 1);
    width: 100vw;
    z-index: 9;
    display: flex;
    justify-content: center;
}

.header-content-container{
    width: 1048px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.header-links > a{
   text-decoration: none;
   color: white;
   font-size: 18px;
}



#brew_collective-logo-nav{
    transform: scale(.7);
   filter: invert(100%);
}

.dropdown-container { 
    position: relative;
    display: inline-block;
}

.fa-user-circle{
    color: white;
}
.fa-user-circle:hover{
    cursor: pointer;
}
.dropdown-container:hover .dropdown-outer{
    display: flex;
}
.dropdown-outer{
    position: absolute;
    left: 65px;
    top: 75px;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 210px;
    display: none;
}


.dropdown {
    background-color: #0D1F2D;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
}
  
  .nav-links {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #484646;
    cursor: pointer;
  }
  .nav-links:hover {
    color: #88958D;
  }


#search-bar{
    border: none;
}

#search-bar-container{
    margin-left: 12px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    width: fit-content;
    height: 15px;
}

.fa-search{
    background-color: white;
}

.search-icon{
    color: #88958D;
}

.dropdown i {
    position:absolute;
    bottom:100%;
    left:25%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.dropdown i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#0D1F2D;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}