.bct-row.brewery:first-child{
    padding: 30px 30px 10px 30px
}
.bct-row.brewery:last-child{
    padding: 10px 30px 30px 30px
}

 .bct-row.brewery .bct-mid-inner-div{
    width: 100%;
 }
 .bct-row.brewery .bct-mid-inner-div:last-child{
     border-right: none;
 }
 .bct-title.brewery > p{
    font-size: 18px;
 }