.bct-row.brewery:first-child{
    padding: 20px 20px 5px 20px
}
.bct-row.brewery:last-child{
    padding: 5px 20px 20px 20px
}

 .bct-row.brewery .bct-mid-inner-div{
    width: 100%;
 }
 .bct-row.brewery .bct-mid-inner-div:last-child{
     border-right: none;
 }