.check-in-content > p{
    display: inline;
}
.check-in-content{
    font-size: 18px;
    padding: 20px;
    border-top: 1px lightgray solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.check-in-content:last-child{
    border-bottom: 1px lightgray solid;
}

.c-rating{
    padding-top: 20px;
}

.check-in-img-container{
    display: flex;
    justify-content: space-between;
    width: 160px;
    padding: 20px;
}

.check-in-delete-elipsis {
    position: absolute;
    top: 10px;
    font-size: 18px;
    right: 5px;
    color: #b9c5be;
}
.check-in-delete-elipsis:hover {
    cursor: pointer;
    color: #88958D;
}
.cid-button-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 10px;
}
.form-submit.cid-button {
    width: 100px;
    height: 40px;
}