/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "font-awesome";

 .app-container{
    background: url(cheers.jpg);
    background-position: center;
    background-size: cover;
     min-height: 100vh;
     width: 100vw;
     max-width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     overflow: hidden;

 }

 .main-outer{
    background: url(texture.png);
    background-position: contain;
    background-color: rgba($color: #F8FCDA, $alpha: .96);
    width: 100vw;
    flex: 1;
    padding: 30px;
 }


