.footer-container{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100vw;
    background-color: rgba(22, 22, 22, .7);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container > a{
    color: white;
    margin: 0 30px
}