.footer-container{
    width: 100vw;
    max-width: 100%;
    background-color: #0D1F2D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    padding: 20px 0;
}
.footer-container > a{
    color: white;
    margin: 0 30px
}