

.sign-in-form{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
}

.sign-in-form-errors{

    width: 400px;
    height: fit-content;

    padding-top: 10px;
    padding-bottom: 20px;
}

.sign-in-form > form{
   align-items: center;
   display: flex;
   flex-direction: column;
}

#brew_collective-logo{
    margin-bottom: 10px;
}


.form-submit{
    text-decoration: none;
    border: none;
    background-color: #586BA4;
    color: white;
    width: 270px;
    height: 35px;
    border-radius: 4px;
    font-family: 'Alatsi', sans-serif;
    font-size: 18px;
    margin: 20px 0 0px 0;
}

.demo-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-submit:hover{
    background-color: #FF8558;
    cursor: pointer;
}

.form-submit:active{
    background-color: #FF8558;
        box-shadow: 0 2px lightgray;
        transform: translateY(1px)   
}


.sign-up-icons {
    background-color: white;
    color: white;
    min-width: 40px;
    text-align: center;
    border-right: 1px solid lightgray;
    color: #88958D;
  }




 .input-container-sign-in{
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 268px;
    height: 33px;
 }

 .form-input{
    margin-left: 4px;
    border: 1px solid lightgray;
    border: none
}


.sign-up-p{
    border-top: 1px solid lightgray;
    margin-top: 40px;
    padding-top: 20px;
    font-family: 'Alatsi', sans-serif;
    font-size: 20px;
    color: #88958D;
}
.sign-up-p span{
font-family: 'Alatsi', sans-serif;
font-size: 20px;
}

.sign-up-p > a:hover{
    text-decoration: none;
    color:  #FF8558;;
}

.sign-up-p > a{
    text-decoration: none;
    color: #586BA4;
}

.errors{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.errors > li{
    
   padding: 3px;

}

.errors-container-sign-in{
    background-color: #931F1D;
    width: 336px ;
    border-radius: 5px;
    padding: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 1px;
}