.background-img{
    z-index: -1;
    object-fit: cover;
    position: fixed;
    width: 100vw;
    height: 100vh ;
    filter: brightness(20%);
}

.splash-main{
    min-height: 100vh;
}

.splash-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    filter: invert(0);
}

.brew-collective-logo-splash{

}

.creds{
    margin: 10px 10px 0 0;
    top: 0;
    right: 0;
    position: absolute;
}

.creds-link > button{
    margin: 10px;
    background: none;
    color: white;
    background-color: black;
    border: white 2px solid;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Alatsi', sans-serif;
    letter-spacing: 1px;
    transition: 0.3s;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.creds-link > button:hover{
background-color: rgba($color: white, $alpha: 0.9);
   color: black;
   cursor: pointer;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.splash-text{
    color: white;
    
}
.splash-text > h1{
    width: 100%;
    font-size: 32px;
    text-align: center;
    
}

.splash-links{
    position: absolute;
    bottom: 3%;
}

#brew_collective-logo-container-splash{
    width: 50vw;
    display: flex;
    justify-content: center;

}

.logo-container{
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
}