.beer-content-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid lightgray;
    padding: 20px 40px;

}

.beer-content-bottom-details p{
    font-size: 18px;
    line-height: 1.25em;
    width: fit-content;
    display: inline;
    white-space: pre-wrap;
}

.beer-content-bottom-details-container{
    width: 74%;
}

#abv-container{
    border-right: 1px solid lightgray;
}
#ibu-container{
    border-right: 1px solid lightgray;
}

#description-container{
    padding: 10px
}

.beer-content-bottom-buttons{
    font-weight:bold;
    font-size: 36px;
    height: 52px;
    width: 52px;
    background-color: #009F93;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 5px;

}
.beer-content-bottom-buttons:hover{
    background-color: #03312E;
    cursor: pointer;
    color: white;


}
.beer-content-bottom-buttons-container{

    display: flex;

}

