.bct-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bct-row{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    width: 90%;
}
.bct-row:nth-child(2){
    padding: 0 10px;
}

.bct-title h1:first-child{
font-size:32px;
font-weight: 400;
margin-bottom: 5px;
color: #0D1F2D;
}
.bct-title a{
    color: #586BA4;
    font-size: 20px;
    margin-bottom: 5px;
}
.bct-title p:nth-child(3){
    font-size: 16px;
    margin-bottom: 5px;
}

.beer-content-left-container{
    display: flex;
}
.beer-content-right-container{
    display: flex;
    align-items: center;
}

.bct-img{
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.bct-title{
    padding: 5px 15px;
}

.bct-mid-inner-div{
    height: 40px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.bct-mid-inner-div > p{
    font-size: 18px;
}

.bct-mid-inner-div:nth-child(1),
.bct-mid-inner-div:nth-child(2){
    border-right: 1px solid lightgray;
}
.bct-mid-inner-div:nth-child(3){
    border-right: 1px solid lightgray;
    display: flex;
    min-width: fit-content;
    padding: 0 10px

}
.bct-mid-inner-div:nth-child(3) > *{
    padding: 0 2px
}
.rating{
    height: 22px;
    padding: 0 5px
}