.bct-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bct-row{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    width: 90%;
}

.bct-row:first-child{
    padding: 20px 20px 5px 20px;
    width:85%
}
.bct-row:last-child{
    padding: 5px 20px 20px 20px
}


.bct-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.bct-content h1{
    color: #0D1F2D;
    font-size: 26px;
    margin-bottom: 5px;
}
.bct-content-bottom{
    display: flex;
    justify-content: space-evenly;
}

.bct-img{
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.bct-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.bct-title p, .bct-title a{
    font-size: 20px;
    padding: 2px 0;
}

.bct-mid-inner-div{
    height: 40px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.bct-mid-inner-div > p, .bct-mid-inner-div > a{
    font-size: 18px;
}

.bct-mid-inner-div:nth-child(1),
.bct-mid-inner-div:nth-child(2){
    border-right: 1px solid lightgray;
}
.bct-mid-inner-div:nth-child(3){
    border-right: 1px solid lightgray;
    display: flex;
    min-width: fit-content;
    padding: 0 10px

}
.bct-mid-inner-div:nth-child(3) > *{
    padding: 0 2px
}
.rating{
    height: 22px;
    padding: 0 5px
}