.uu .uu-label{
    position: absolute;
    top:-15px;
    left: 3px;
    color: #88958D;

}

.uu *{
    color: inherit;
}

.uu-input-form-data.form-input-secondary{
    border: none;
}

.uu-submit{
    color: white;
}
.uu .errors-container-sign-up{
    color: white;
}

.uu-input{
    margin: 4px 0;
    border: 1px solid lightgray;
    width: 554px;
    height: 33px;
    padding-left: 4px;
    border-radius: 5px;
}

.uu-input-container-outer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}